/*DEFAULT STYLE SETTING*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  min-height: 100vh; /*vh stand for View port Height and correspond to the full height of the device window So that means we always stretch our bacground to meet at least the device height even if the content is not enough to take up the full height of the screenscroll or scroll*/
  /* background-color: aqua; to check default style setting */
  font-family: Bebas Neue, sans-serif;
  background: whitesmoke;
  box-sizing: border-box; /*to prevent horizental scrolling problem when a element have a width larger than the html element*/
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 35px;
  letter-spacing: 5px;
  color: #a53faa;
}

/*LOADER*/
.loader {
  position: fixed; /*it's not move when user scroll*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*This line put the img correctly in the middle of the page because it translate the origin point at the center of image.*/
}

/*Image container*/
.image-container {
  margin: 10px 20%;
}
.image-container img {
  width: 100%;
  margin-top: 10px;
}

/*Media Query : Large Smartphone*/
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .image-container {
    margin: 45px;
  }
}
/*TOP BUTTON*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  width: 55px;
  padding: 5px;
  background-color: #a53faa;
  color: white;
  z-index: 99;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  font-size: 19px;
  transition: all 0.5s ease-in-out;
}
#myBtn:hover {
  color: #a53faa;
  font-weight: bold;
  background-color: white;
  border: 1px solid #a53faa;
}
@media screen and (max-width: 600px) {
  #myBtn {
    right: 3px;
    width: 35px;
    padding: 3px;
    border-radius: 3px;
    font-size: 16px;
  }
}

/*FOOTER*/
.footer {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#a53faa, #a53faa);
  background: -webkit-linear-gradient(#a53faa, #a53faa);
  background: -moz-linear-gradient(#a53faa, #a53faa);
  background: -o-linear-gradient(#a53faa, #a53faa);
  /* border-radius: 10px; */
  padding: 1rem;
  margin-top: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%; generate horizontal scroll*/
}
.footer p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
footer div {
  margin-left: 2rem;
}
.footer p a {
  text-decoration: none;
  color: #f3d337;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #5d12e7 !important;
  margin-bottom: 1rem;
}
.footer ul li a {
  color: white;
}
.footer ul li {
  transition: all 0.2s;
  list-style-type: none;
}
.footer ul li:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column-reverse;
  }
  footer div {
    margin-left: 0;
    margin-bottom: 0;
  }
}
